*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background: #fff;
    color: white;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

ul {
    padding-left: 0;
}

ul>li {
    list-style: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

button,
input {
    outline: none;
    border: none;
    cursor: pointer;
}

@font-face {
    font-family: "Bebas Neue";
    src: local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2"),
        url("../fonts/BebasNeueRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.header {
    background: #635854;
    padding: 12px 0px;
    border-bottom: 4px solid #3596F5;
}

.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1280px;
    margin: auto;
}

.navbar-menu {
    display: flex;
    align-items: center;
}

.navbar-item:not(:last-child) {
    margin-right: 80px;
}

.navbar-item {
    text-align: center;
    font-size: 16px;
}

.navbar-link {
    text-decoration: none;
    color: #FFF;
}

.navbar-item {
    transition: all .2s linear;
}

.navbar-item:hover {
    transform: scale(1.2);
}

.navbar-text {
    display: block;
}

.navbar-contacts {
    text-align: right;
    margin-bottom: 4px;
}

.navbar-phone {
    font-weight: 700;
    font-size: 17px;
    color: inherit;
    text-decoration: none;
}

.navbar-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.navbar-nav {
    margin: auto;
}

.main {
    padding-top: 54px;
    display: flex;
}

.main-image {
    width: 734px;
    height: 640px;
}

.home-image path {
    opacity: 0;
}

.home-image {
    width: 100%;
    max-width: 734px;
}

.home-image path:hover {
    opacity: 1;
    cursor: pointer;
}

.main-info {
    color: #635854;
    flex-grow: 1;
    text-align: center;
}

.counter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter-button {
    background-color: transparent;
}

.counter-down {
    transform: rotateX(180deg);
}

.main-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 37px;
    text-transform: uppercase;
}

.counter {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 124px;
    text-transform: uppercase;
    margin-top: 8px;
}

.button-primary {
    background: #3596F5;
    border-radius: 6px;
    padding: 16px 36px;
    color: #FFFFFF;
}

.main-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 107px;
}

path.current-floor {
    opacity: 1;
}

path.current-flat {
    opacity: 1;
}

.modal {
    position: fixed;
    /*Поверх всего сайта */
    left: 0;
    top: 0;
    /*Приклеиваем к верху и левому краю */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* Полупрозрачный чёрный фон */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0);
    transition: all 0.2s;
}

.is-open {
    opacity: 1;
    transform: scale(1);
}

.modal-dialog {
    max-width: 1000px;
    min-height: 565px;
    background-color: #fff;
    flex-grow: 1;
    display: flex;
    position: relative;
    transform: translateY(-10%);
    transition: transform 0.2s, opacity 0.4s;
    transition-delay: 0.2s;
    opacity: 0;
}

.is-open>.modal-dialog {
    opacity: 1;
    transform: translateY(0);
}

.modal-image {
    width: 60%;
    background-color: #EBEBEB;
    text-align: center;
    padding: 50px;
}

.modal-title {
    font-family: 'Bebas Neue';
    font-size: 24px;
    color: black;
}

.modal-info {
    width: 40%;
    padding: 50px 46px;
}

.modal-counter {
    font-size: 24px;
}

.flat-list {
    font-family: 'Roboto';
    font-size: 16px;
    margin-top: 50px;
}

.flat-link {
    text-decoration: none;
    color: black;
}

.flat-item:not(:last-child) {
    margin-bottom: 10px;
}

.flat-link:hover {
    text-decoration: underline;
    color: #3596F5;
}

.flat-active {
    text-decoration: underline;
    color: #3596F5;
}

.flat-floor-active {
    opacity: 1 !important;
    cursor: pointer;
}

.modal-alert {
    font-style: italic;
    font-size: 16px;
    color: #635854;
    margin-top: 56px;
}

.modal-close-button {
    position: absolute;
    top: 38px;
    right: 27px;
    background: transparent;
}

.flats path {
    opacity: 0;
}

.flats path:hover {
    opacity: 1;
    cursor: pointer;
}

.menu-button {
    display: none;
}

.flats {
    max-width: 433px;
    width: 100%;
}

@media (max-width:1400px) {
    .container {
        width: 90%;
        max-width: 1200px;
    }
}

@media (max-width:1400px) {
    .container {
        max-width: 960px;
    }

    .navbar-item:not(:last-child) {
        margin-right: 40px;
    }

    .main-info {
        margin-left: 40px;
    }
}

@media (max-width:992px) {
    .container {
        max-width: 760px;
    }

    .navbar-panel {
        display: none;
        position: absolute;
        top: 60px;
        right: 60px;
        background-color: #635854;
        display: block;
        padding: 20px;
        border-radius: 6px;
    }

    .navbar-menu {
        display: block;
    }

    .navbar-contacts {
        text-align: center;
    }

    .navbar-item:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .menu-button {
        background: transparent;
        width: 40px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu-button>.line {
        height: 3px;
        width: 100%;
        display: block;
        background: #fff;
    }

    .main-title {
        margin-bottom: 30px;
    }

    .counter-down {
        margin-bottom: 30px;
    }

    @media (max-width:768px) {
        .main {
            display: block;
        }

        .main-info {
            padding: 50px;
        }

        .counter-group {
            margin-top: 40px;
            margin-bottom: 40px;
        }

        .modal-dialog {
            flex-direction: column;
        }

        .flats {
            max-width: 300px;
        }

        .modal-image,
        .modal-info {
            width: 100%;
        }

        .modal-info {
            text-align: center;
            word-spacing: 10px;
        }
    }
}